doctype html
html(lang='ko')
  head
    meta(character='utf-8')
    title Jade Study
  body
    h1 Jade - node template engine
    
    a(href='/attributes') attributes
    br
    a(href='/case') case
    br
    a(href='/extends') extends
    br
    a(href='/includes') includes
    br
    a(href='/iteration') iteration
    br
    a(href='/mixin') mixin
    br
    
    script.
      var foo = 'hello world';
      console.log(foo);
